
api/build/
api/nbproject/private/*
api/nbproject
api/dist

andere_groepen/APIgroep0Task1/build/classes/exchangeRate/CalculatorFactory$CalculatorImpl.class

andere_groepen/APIgroep0Task1/build/classes/exchangeRate/CalculatorFactory$1.class

andere_groepen/APIgroep0Task1/nbproject/private/private.properties

andere_groepen/APIgroep0Task1/nbproject/private/private.properties
